@import '../../../styles/variables.scss';

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 35px ;
    border-radius: 12px;
    background-color: $grey;

    &:hover {
        span, h1{
            color: $lightBlue;
            transition:  0.15s ease-out;
        }
      }
}

.cardInfos{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    transition: 0.3s;
}

.cardImg{
    height: 40px;
    min-width: 80px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    object-fit:cover;
}
