@import '../../../styles/variables.scss';

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    cursor: pointer;

    &:hover {
        span, h1{
            color: $lightBlue;
            transition:  0.15s ease-out;
        }
      }
}

.cardInfos{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    transition: 0.3s;
}

.cardImg{
    height: 30px;
    min-width: 60px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit:cover;
}
