@import '../../../styles/variables.scss';

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $grey;
    padding: 45px;
    gap: 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.18s ease-out;

    &:hover {
        background-color: $greyHover;
        transform: scale(1.01);

        span, h1{
            color: $lightBlue;
            transition:  0.15s ease-out;
        }
      }
}

.cardInfos{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    transition: 0.3s;
}

.cardImg{
    height: 50px;
    min-width: 100px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
