@import url('https://fonts.cdnfonts.com/css/mona-sans');
@import '../styles/variables.scss';


html,
body,
table,
button,
span {
    font-family: 'Mona-Sans', sans-serif;
}

body {
    line-height: 1.2;
}

h1 {
    font-size: 14px;
    color: $black;
    font-weight: 500;
    font-stretch: 125%;
}

h2 {
    font-size: 16px;
    color: $greyFont;
}

span {
    font-size: 15px;
    color: $greyFont;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: $black;
}

a:visited {
    text-decoration: none;
}


a:link {
    text-decoration: none;
}