@import '../../../styles/variables.scss';


.BtnScrollTop{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  padding: 15px;
  border: none;
  background-color: $grey;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  font-size: 22px;
  color: $greyFont!important;

}