<main>
  <form [formGroup]="searchFilter">
    <div class="searchBar">
      <span class="material-symbols-outlined"> search </span>
      <input
        id="searchInput"
        class="searchInput"
        formControlName="filterInput"
        pInputText
        type="text"
        placeholder="Search..."
      />
    </div>
  </form>

  <section class="fadeIn">
    @if (countries$ | async; as countries) { @for ( country of countries; track
    country.id){
    <app-card [country]="country"></app-card>
    } }
  </section>
</main>
