@import '../../../styles/variables.scss';

main{
    padding: 40px 15%;
}

.searchBar{
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: $grey;
  border-radius: 12px;
}

@media (max-width: 600px) {
  .searchBar{
    width: 300px;
  }
}

span{
  margin-left: 5px;
  color: $greyFont!important;
  font-size: 22px;

}

#searchInput{
  background-color: transparent;
  border: none;
  color: $greyFont;
  width: 450px;
  outline: none;
}

.countriesGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}   

.searchSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}