@import '../../../styles/variables.scss';

main{
    padding: 30px 7%;

}

section {
    display: flex;
    flex-direction: column;

}

button {
    border: none;
    color: $greyFont;
    background:none;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}


.cardImg{
    height: 200px;
    width: 300px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
}
