<main>
  <button class="previusPageBtn fadeIn" [routerLink]="['/']">
    <span class="material-symbols-outlined"> arrow_back </span>
  </button>

  <section class="fadeIn">
    @if (country$ | async; as country) {
    <article class="cardImg">
      <img [src]="country.flags.png" alt="Flag" />
    </article>

    <article class="cardInfos">
      <h1>{{ country.name.official }}</h1>
      <span>Capital: {{ country.capital }}</span>
      <span>Population: {{ country.population }}</span>
      <span>Region: {{ country.region }}</span>
      <span>Subregion: {{ country.subregion }}</span>
      <span>Continent: {{ country.continents }}</span>
      <span>Independent?: {{ country.independent }}</span>
      <span>Subregion: {{ country.maps.googleMaps }}</span>
    </article>

    }
  </section>
</main>
